---
import WorkIcon from "./icons/WorkIcon.astro";
import Typography from "./Typography.astro";
---

<section id="Experiencia" class="scroll-mt-24 max-w-3xl mx-auto mb-40">
  <div class="flex items-center gap-x-4">
    <WorkIcon className="h-7 w-7 md:h-10 md:w-10" />
    <Typography as="h2" variant={"mediun"}> Experiencia </Typography>
  </div>

  <div class="mt-10 pl-10 md:pl-14 border-l-4 border-solid border-sky-600">
    <Typography as="h3" variant={"medium"} class={"text-sky-500"}>
      Resow Solutions
    </Typography>

    <Typography as="h3" variant={"medium"}>
      Desarrollador web | Diciembre 2024 - Marzo 2025
    </Typography>

    <Typography as="p" variant={"text"} class={"mt-4 text-pretty"}>
      Desarrollé aplicaciones por el lado del frontend con tecnologías modernas
      de JavaScript como React y Nextjs, utilizando el framework css
      Tailwindcss.
    </Typography>

    <Typography as="p" variant={"text"} class={"mt-4 text-pretty"}>
      Por otro lado, colaboré en el backend utilizando Nodejs y Express,
      desarrollando diversos endpoint e implementando la documentacion con
      Swagger y SwaggerUi.
    </Typography>
  </div>
</section>
