---
import Typography from "./Typography.astro";
import { habilidades } from "@/data/habilidades";
---

<section id="Tecnologias" class="scroll-mt-24 my-24">
  <Typography
    as="h2"
    variant="title"
    color="primary"
    class:list={"text-center mb-7"}
  >
    Tecnologías
  </Typography>

  <div
    class="grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4"
  >
    {
      habilidades.map((habilidad) => (
        <div class="flex flex-col md:flex-row items-center justify-center md:justify-between gap-y-2 bg-gray-800 p-3 rounded-xl">
          <img
            src={habilidad.img}
            alt={`Icono de la teconología ${habilidad.name}`}
            loading="lazy"
            decoding="async"
            class="w-10 h-10"
          />

          <Typography as="h3" variant="small" color="secondary">
            {habilidad.name}
          </Typography>
        </div>
      ))
    }
  </div>
</section>
