---
import Button from "./Button.astro";
import Typography from "./Typography.astro";
---

<section id="Hero" class="scroll-mt-24">
  <div class="flex flex-col justify-center items-center gap-y-10">
    <Typography
      as="h1"
      variant="big"
      color="primary"
      class:list={["text-center mt-36 text-pretty"]}
    >
      Israel Castro Desarrollador Frontend Jr.</Typography
    >

    <Button href="#Proyectos" className="py-3 px-2">Conoce más de mi</Button>
  </div>
</section>
