---
import ProyectoCard from "./ProyectoCard.astro";
import Typography from "./Typography.astro";
import { proyectos } from "@/data/proyectos";
---

<section id="Proyectos" class="scroll-mt-24 mt-10 h-auto">
  <Typography
    as="h2"
    variant="title"
    color="primary"
    class:list={"text-center mb-7"}
  >
    Proyectos
  </Typography>

  <div class="grid grid-cols-[repeat(auto-fit,minmax(352px,1fr))] gap-4">
    {proyectos.map((proyecto) => <ProyectoCard proyecto={proyecto} />)}
  </div>
</section>
